*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.output
src/tcLexer.ml
src/tcParser.ml
src/tcParser.mli
src/topochecker
*~
*.hist
examples/test-*/output
src/_build
src/main.native
examples/*/out*.dot
examples/*_generator/*.dot
examples/*_generator/*.csv